
NODE_ENV = development

NODE_PORT = 5000

# Stripe
STRIPE_API_DOMAIN_URL = https://api.stripe.com

STRIPE_API_SECRET = your_stripe_secret_key
STRIPE_VERSION_API = your_nodejs_sdk_version
STRIPE_PROTOCOL_AVAIL = https
